In [4]:
a=10

In [2]:
a

10

In [13]:
print(100+200)

300

In [14]:
print(200+300)

500

In [15]:
print("Hello world")

Hello world

In [16]:
abc_127=500

In [17]:
abc_127

500

In [18]:
22/7

3.142857142857143

In [19]:
10*50

500

In [20]:
220/7

31.428571428571427

In [21]:
print("Good morning")

Good morning

In [22]:
age=40

In [23]:
age

40

In [24]:
type(age)

int

In [25]:
age*20

800

In [27]:
wt=100.05

In [28]:
wt

100.05

In [29]:
type(wt)

float

In [30]:
ht=5.00

In [31]:
type(ht)

float

In [32]:
abc=True

In [33]:
type(abc)

bool

In [34]:
age

40

In [35]:
age+abc

41

In [36]:
abc1=False

In [37]:
age+abc1

40

In [38]:
abc2=0J

In [39]:
type(abc2)

complex

In [40]:
abc3=1+0j

In [33]:
type(abc3)

complex

In [41]:
abc="Hellow world"

In [42]:
type(abc)

str

In [43]:
abc

'Hellow world'

In [44]:
print(abc)

Hellow world

In [45]:
len(abc)

12

In [46]:
abc

'Hellow world'

In [47]:
abc[0]

'H'

In [48]:
abc[-1]

'd'

In [49]:
abc[1:4]

'ell'

In [50]:
abc[5:12]

'w world'

In [51]:
abc[5:11]

'w worl'

In [52]:
abc[5:len(abc)]

'w world'

In [53]:
abc[5:15]

'w world'

In [54]:
abc="Hello world"
abc1="Good morning"

In [55]:
abc

'Hello world'

In [49]:
abc1

'Good morning'

In [56]:
abc+abc1

'Hello worldGood morning'

In [51]:
abc+" "+abc1

'Hello world Good morning'

In [57]:
abc*10

'Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world'

In [58]:
print(abc*10)

Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world

In [54]:
print((abc+"\n")*10)

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [88]:
my_list=[120,"india","murali",150.05,True,"venkat"]

In [89]:
len(my_list)

6

In [91]:
type(my_list)

list

In [92]:
my_list[0]

120

In [94]:
my_list[0]=200

In [95]:
my_list

[200, 'india', 'murali', 150.05, True, 'venkat']

In [96]:
my_list.index(200)

0

In [105]:
my_list.index("murali")

2

In [104]:
my_list.index("murali")

2

In [106]:
my_list

[200, 'india', 'murali', 150.05, 'venkat']

In [108]:
my_list.index(True)

ValueError: True is not in list

In [109]:
del my_list[4]

In [110]:
my_list

[200, 'india', 'murali', 150.05]

In [111]:
my_list.append(3000)

In [79]:
my_list

[200, 'india', 'murali', 150.05, 3000]

In [112]:
my_list.append([4000,"harish"])

In [113]:
my_list

[200, 'india', 'murali', 150.05, 3000, [4000, 'harish']]

In [119]:
my_list[-1] [0]

4000

In [126]:
my_list.append([2000,"ramesh"])

In [127]:
my_list

[200,
 'india',
 'murali',
 150.05,
 3000,
 [4000, 'harish'],
 [2000, 'ramesh'],
 [2000, 'ramesh'],
 [2000, 'ramesh'],
 [2000, 'ramesh']]

In [122]:
my_list.index("harish")

ValueError: 'harish' is not in list

In [128]:
my_list

[200,
 'india',
 'murali',
 150.05,
 3000,
 [4000, 'harish'],
 [2000, 'ramesh'],
 [2000, 'ramesh'],
 [2000, 'ramesh'],
 [2000, 'ramesh']]

In [130]:
my_list.insert(2,10000)

In [129]:
my_list

[200,
 'india',
 'murali',
 150.05,
 3000,
 [4000, 'harish'],
 [2000, 'ramesh'],
 [2000, 'ramesh'],
 [2000, 'ramesh'],
 [2000, 'ramesh']]

In [131]:
my_list1=[10,20,30,40]

In [132]:
my_list+my_list1

[200,
 'india',
 10000,
 'murali',
 150.05,
 3000,
 [4000, 'harish'],
 [2000, 'ramesh'],
 [2000, 'ramesh'],
 [2000, 'ramesh'],
 [2000, 'ramesh'],
 10,
 20,
 30,
 40]

In [133]:
my_list1

[10, 20, 30, 40]

In [82]:
my_list1*10

[10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40]

In [136]:
my_list1

[10, 20, 30]

In [137]:
my_list1.pop()

30

In [138]:
my_list1

[10, 20]

In [139]:
my_list1.pop(1)

20

In [140]:
my_list1

[10]

In [143]:
my_list1.pop(my_list1.index(10))

10

In [155]:
my_tuple=(10,20,"dev","prasad","DVS",40.05,True)

In [156]:
len(my_tuple)

7

In [157]:
type(my_tuple)

tuple

In [158]:
my_tuple[-2]

40.05

In [159]:
del my_tuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [160]:
my_tuple[2]=500

TypeError: 'tuple' object does not support item assignment

In [154]:
my_tuple.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [99]:
my_tuple

(10, 20, 'dev', 'prasad', 'DVS', 40.05, True)

In [100]:
my_tuple1=(10,40,50)

In [101]:
my_tuple+my_tuple1

(10, 20, 'dev', 'prasad', 'DVS', 40.05, True, 10, 40, 50)

In [102]:
my_list1+my_tuple1

TypeError: can only concatenate list (not "tuple") to list

In [103]:
my_tuple2=(10,20,30,(40,50),60)

In [104]:
my_tuple2

(10, 20, 30, (40, 50), 60)

In [105]:
my_tuple=(10,20,30,40)

In [106]:
my_tuple+0

TypeError: can only concatenate tuple (not "int") to tuple

In [107]:
my_tuple+(0)

TypeError: can only concatenate tuple (not "int") to tuple

In [108]:
my_tuple+(0,)

(10, 20, 30, 40, 0)

In [109]:
len(my_tuple+(0,))

5